mixin checkbox(name, text)
    label(for=name).control.checkbox
        input(type="checkbox", id=name, name=name)
        .indicator
        span= text

mixin radio(name, id, value, text)
    label(for=id).control.radio
        input(type="radio", id=id, name=name, value=value)
        .indicator
        span= text

.settings
        .container
                label.control
                    #version 0
                    span Version

                .ability
                    +checkbox("magnet", "Uses magnets")
                    +checkbox("connectable", "Is connectable")
                    +checkbox("advertising", "Is advertising")

                .mode
                    h2 Mode
                    +radio("mode", "mode0", 0, "#0: Primary ID")
                    +radio("mode", "mode1", 1, "#1: Secondary ID")
                    +radio("mode", "mode2", 2, "#2: iBeacon")
                    +radio("mode", "mode3", 3, "#3: Primary ID & iBeacon")

                .security
                    h2 Blacklist
                    +radio("blacklist", "blacklistOn", 0, "Active")
                    +radio("blacklist", "blacklistOff", 1, "Inactive")

                    h2 RSSI Verification
                    +radio("rssiVerification", "rssiVerificationOn", 0, "Active")
                    +radio("rssiVerification", "rssiVerificationOff", 1, "Inactive")

                .terminalId
                    h2 Secondary ID
                    input(type="text", class="secondaryTerminalIdInput")
                    button Set
